body{
    font-family: 'Ubuntu', sans-serif;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}

.top-body-backgound{
    background-repeat: no-repeat;
    background-image: url(image/top-banner.png);
 
}
section{
    height: 500px;
    padding-bottom: 150px;

}
.top-part-button{
    text-decoration: none;
    padding: 10px;
    background-image: linear-gradient(45deg, orange,tomato);
    color: #fff;
    border: 1px solid salmon;
    border-radius: 5px;
}
.top-part-button:hover{
    color: #fff;
}
.dream-area{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 30px;
}
.orange-highlight{
    color: orange;
}

.experience-aria{
    width: 100%;
    margin: auto;
    margin-top: 10%;   
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.container{
    display: flex;
    margin: auto;
    max-width: 1285px !important;
}    


.single-experience {
    width: 50%;
    box-shadow: 10px 10px 40px grey;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-left: 3%;
    padding-left: 25px;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 30px;
}
#left-border-color{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,tomato,salmon);
    border-image-slice: 1;
}
#right-border-color{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
.footer{
    text-align: center;
    padding-top: 100px;
}